body {
	width: 100wh;
	height: 90vh;
	color: #fff;
	background: linear-gradient(-70deg, #ffec82, #c471ed, #6dd5fa);
	background-size: 200% 200%;
	-webkit-animation: Gradient 60s ease infinite;
	-moz-animation: Gradient 60s ease infinite;
	animation: Gradient 60s ease infinite;
}

@-webkit-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@-moz-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

H1 {
  font-family: "Alegreya Sans", sans-serif;
  font-size: 3em;
  line-height: 1em;
  text-align: top;
  position: relative;
  color: #FF;

}

#text {
  font-family: "Alegreya Sans", sans-serif;
  font-size: 6em;
  line-height: 1em;
  text-align: center;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
#text:hover {
  cursor: default;
}
#text .wrapper {
  display: inline-block;
  top: -900px;
  position: relative;
  height: 150px;
  /* default */
  width: 90px;
  /* default */
  transition: ease 0.3s all;
}
#text .wrapper span {
  position: absolute;
  top: 0;
  right: 0;
  transition: ease 0.3s all;
}
#text .wrapper span.letter-2 {
  color: #0000FF77;
}
#text .wrapper span.letter-1 {
  color: #FF000077;
  z-index: 1;
}
#text .wrapper span.letter-1:hover {
  top: -3px;
  right: -3px;
}
#text .wrapper span.letter-1:hover ~ .letter-2 {
  top: 3px;
  right: 3px;
}
#text .wrapper span.space {
  padding: 0;
  min-width: 30px;
  display: inline-block;
}




.line-1{
	font-family: "VT323", sans-serif;
    position: relative;
    top: 50%;  
    width: 24em;
    margin: 0 auto;
    border-right: 2px solid rgba(255,255,255,.75);
    font-size: 180%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);    
}

/* Animation */
.anim-typewriter{
  animation: typewriter 4s steps(44) 1s 1 normal both,
             blinkTextCursor 500ms steps(44) infinite normal;
}
@keyframes typewriter{
  from{width: 0;}
  to{width: 24em;}
}
@keyframes blinkTextCursor{
  from{border-right-color: rgba(255,255,255,.75);}
  to{border-right-color: transparent;}
}

